<!DOCTYPE html>
<html>
<head>
<title>History</title>
<link rel="icon" href="./img/weather.png">
<link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<div class="main-content">

{{>header}}
<img src="/img/weather.png">
<h2 style="color:rgb(121, 51, 161)">{{history}}</h2>

<h5 style="color:black">The basis for weather prediction started with the theories of the ancient Greek philosophers and continued with Renaissance scientists, the scientific revolution of the 17th and 18th centuries, and the theoretical models of 20th- and 21st-century atmospheric scientists and meteorologists.</h5>
</div>
{{>footer}}
</body>

</html>