<!DOCTYPE html>
<html>
<head>
<title>Introduction</title>
<link rel="icon" href="./img/weather.png">
<link rel="stylesheet" href="./css/styles.css">
</head>

<body>
<div class="main-content">
{{>header}}

<h3 style="color:seagreen">Introduction to Weather Forecast</h3>
<p>A weather forecast is made up of three steps: observation and analysis, extrapolation to determine the state of the atmosphere in the future, and estimation of specific variables. One method of qualitative extrapolation is to conclude the weather features will continue to travel in the same direction as they have been.</p>
</div>


{{>footer}}
</body>

</html>